*{
  margin: 0;
}

body{
  height:100vh;
}

.App{
  background-color: rgb(250, 250, 250);
  
}

.app-header{
   background-color: white;
   border-bottom: 1px solid lightgray;
   object-fit: contain;
   /* margin-left: 10px; */
   display: flex;
   justify-content: space-around;
   position: sticky;
   top:0;
   z-index: 1;
}

.app-signup-image{
  object-fit: contain;
}

form{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  /* position: ; */

}

img{
  height:50px;
}

.app-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

